@import url(frames.css);
@import url(responsividade.css);
*{

  font-family: "poppins",sans-serif,arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight:400;
}
html,body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}
span.iff{
  color:#069E2D;
  font-weight: 700;
}
:root{
  --fixedrightbottom:#1E93E2;
}








/*???????????????????????????????????????????????????????????????????????

            SECTION TITTLE    SECTION TITTLE    SECTION TITTLE    

?????????????????????????????????????????????????????????????????????????*/
section.estopim{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex-wrap: wrap;
  padding: 60px 0 25px 0;
}
section div.imagem{
  width: 500px;
  margin: 20px;
}
section div.texto{
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}
section div.texto h1{
  font-weight: 600;
}
section div.texto p.desc{
  font-size: 17px;
}
section div.texto p.desc:last-child{
  margin-bottom: 0;
}



/*???????????????????????????????????????????????????????????????????????

        ICONE FIXED          RIGHT BOTTOM                   ICONE FIXED 

?????????????????????????????????????????????????????????????????????????*/
.block {
  height: 0px;
  width: 0px;
  background-color: #03071E;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  transition: .5s;
  z-index: 99;
}
.conjunto{
  background-color:transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@keyframes roda{
  100%{transform: rotate(360deg);}
}
.block:hover{
    animation: roda 1s ease-in-out; 0.5;
}
.coletor{
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.R:nth-child(2){
  position: absolute;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-top: 2px solid var(--fixedrightbottom);
  border-right: 4px solid var(--fixedrightbottom);
  margin-bottom: 8px;
}
.R:first-child{
  width: 10px;
  position: relative;
  height: 20px;
  border-left: 3px solid var(--fixedrightbottom);
  transition: 1s;
}
.R.ativa:first-child{
  margin-right: 10px;
  height: 15px;
  border-radius: 50%;
}
.z.ativa:nth-child(3){
  width: 30px;
  position: absolute;
  height: 24px;
  border-left: 3px solid var(--fixedrightbottom);
  transform: rotate(270deg);
  margin-left:3px;
  margin-bottom: 5px;
  border-radius: 50%;
}
.z:nth-child(3){
  width: 10px;
  position: absolute;
  height: 20px;
  border-left: 3px solid var(--fixedrightbottom);
  margin-left:3px;
  margin-top:4px;
  transform: rotate(-45deg);
  transition: 1s;
}


/*???????????????????????????????????????????????????????????????????????

        ICONE FIXED          DROPDOWN TOP                   ICONE FIXED 

?????????????????????????????????????????????????????????????????????????*/

@keyframes alio{
  100%{height: 200px;}
}

.abrir{
    height: 0;
    width: 60px;
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
    overflow: hidden;
    display: block;
    transition: 1s;
    padding: 7.5px;
    z-index: 99;
}
.iconedoabrir{
  margin-bottom:10px;
  height: 45px;
  width: 45px;
  background-color: rgba(0,0,0,.4);
  box-shadow: 0 0 10px rgba(0,0,0,.9);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 100;
  display:flex;
  justify-content:center;
  align-items: center;
}
.iconedoabrir.paracima::before{
  content: "";
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-top:2px solid white;
  transform: rotate(45deg);
  border-radius: 20%;
  animation: setas 1s linear infinite;
}
.iconedoabrir.paracima:hover::before{
  border-left: 2px solid orange;
  border-top:2px solid orange;
}
@keyframes setas{
  50%{
    border-radius: 45%;
  }

  100%{
    border-radius: 20%;
  }
}
div.abrir div img{width: 100%;height: 100%;object-fit: cover;object-position: center;}

/*???????????????????????????????????????????????????????????????????????

        ICONE FIXED          FIM FIM                  ICONE FIXED 

?????????????????????????????????????????????????????????????????????????*/
/*???????????????????????????????????????????????????????????????????????

        ICONE FIXED          FIM FIM                  ICONE FIXED 

?????????????????????????????????????????????????????????????????????????*/
















/*???????????????????????????????????????????????????????????????????????

            CAROUSEL-INSIDE    CAROUSEL-INSIDE    CAROUSEL-INSIDE   

?????????????????????????????????????????????????????????????????????????*/
div.fumaca{
  background-color: #22272A;
  position: relative;
  height: 40px;
  right: 0;
  left: 0;
  bottom: -4px;
}
div.fumaca-area{
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #22272A;
  width: 50px;
  height: 50px;
  border-top-left-radius: 500%;
}
div.fumaca-bolha{
  height: 30px;
  width: 100px;
  position: absolute;
  right: 100px;
  bottom: 0;
  transform-origin: bottom left;
  animation: fumacab 2.5s ease-out infinite;
  transform: scale(2);
}
div.fumaca-bolha:before{
  content: "";
  height: 30px;
  width: 30px;
  background-color: #22272A;
  border-radius: 100%;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
}


section.about-us{
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
section.about-us div.foto{
  width: 480px;
  position: relative;
  height:270px;
  display:flex;
  justify-content:center;
  align-items:center;
}
section.about-us div.texto.aboutus{
  max-width: 600px;
  min-height: 400px;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
section.about-us div.foto img{
  border-radius: 20px;
  object-fit:cover;
  object-position:center;
}
section.about-us div.foto .img-section{
	height:100%;
	object-fit:cover;
    object-position:center;
	position:relative;
}
section div.texto p{
  font-size: 16px;
  padding: 8px;
}

section.about-us div.foto:hover div.social{
  opacity: 1;
  visibility: visible;
  top: calc(50% - 30px);
}
section.about-us div.foto div.social{
  width: 310px;
  height: 60px;
  background-color: rgba(100,100,100,0.5);
  position: absolute;
  top: calc(70%);
  right: calc(50% - 155px);
  border-radius: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  z-index:999;
}






/*???????????????????????????????????????????????????????????????????????

            EFEITOS-ICONES-SOCIAIS      EFEITOS-ICONES-SOCIAIS

?????????????????????????????????????????????????????????????????????????*/

section.about-us div.foto div.social i.fab{font-size: 30px;background-color: transparent;width: 50px;height: 50px;border-radius: 50%;display:flex;justify-content: center;align-items: center;}
section.about-us div.foto div.social a:nth-child(1) i.fab{background-image: linear-gradient(to bottom left,red, yellow);color:white;}
section.about-us div.foto div.social a:nth-child(2) i.fab{background-color: #4169E1;color:white;}
section.about-us div.foto div.social a:nth-child(3) i.fab{background-color:black;color:white;}
section.about-us div.foto div.social a:nth-child(4) i.fab{background-color: #00BFFF;color: white}
section.about-us div.foto div.social a:nth-child(5) i.fab{color: red;}
section.about-us div.foto div.social a:nth-child(1):hover i.fab{font-size:35px;color: black}
section.about-us div.foto div.social a:nth-child(2):hover i.fab{font-size:35px;color: black}
section.about-us div.foto div.social a:nth-child(3):hover i.fab{font-size:35px;color: white}
section.about-us div.foto div.social a:nth-child(4):hover i.fab{font-size:35px;}
section.about-us div.foto div.social a:nth-child(5):hover i.fab{font-size:35px;}
section.about-us div.foto div.social a:hover i.fab{animation: rotacao 1s ease-in-out 1;}
section.about-us div.foto div.social a{outline: none;border:none;text-decoration: none;}













/*???????????????????????????????????????????????????????????????????????

         PROJETOS    PROJETOS     PROJETOS   PROJETOS    PROJETOS

?????????????????????????????????????????????????????????????????????????*/
div.projetosrotulo{
  background-color: #22272A;
  position: relative;
  height: 150px;
  box-shadow: 0 10px 10px rgba(65,105,225,0.5);
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:45px;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  top: -10px;
}
div.titulo {
  font-size: 44px;
  text-align: center;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;}
div.titulo p{
  font-size: 15px;
  margin:0;
  padding: 0;
  font-weight: 400;
}
div.gota{
  background-color: red;
  position: relative;
  width: 50px;
  height: 50px;
  top: -25px;
  border-radius: 50%;
  background-color: #22272A;
  animation: gotinha 10s linear infinite;
}

section.projetos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
   flex-wrap: wrap;
 }
section.projetos div.texto{
  width: 500px;
  height: 505px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section.projetos div.fabianico{
  width: 510px;
  height: 505px;
  background-color:rgba(0,0,0,0.1);
  box-shadow:0 1em 1em rgba(211,211,211,0.9);
  position: relative;
  border-radius:20px;
  flex-wrap: wrap;
  overflow:hidden;
  margin:20px 8px 0px 8px;
}
section.projetos div.fabianico div.iconbar /*No Reverse*/{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.projetos div.fabianico div.boxprojetoimg a{
  margin: 0
}
section.projetos div.fabianico div.boxprojetoimg{
  display: flex;
  flex-direction:column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}
section.projetos div.fabianico div.projetoimg{
  width:420px;
  height: 250px;
}
section.projetos div.fabianico div.projetoimg#one, section.projetos div.fabianico div.projetoimg#two{
  transition: 1s;
}
section.projetos div.fabianico div.projetoimg#one:hover{
  height: 400px
}
section.projetos div.projetoimg#one:hover ~ div.projetoimg#two{
  height: 105px; 
  transition: 1s;
}
section.projetos div.projetoimg#two:hover{
  height: 400px;
}
section.projetos div.fabianico div.projetoimg img{
  width:100%;
  height: 100%;
  object-fit: cover;
}













/*???????????????????????????????????????????????????????????????????????

         DESCRIÇÂO E CARDS     DESCRIÇÂO E CARDS   DESCRIÇÂO E CARDS

?????????????????????????????????????????????????????????????????????????*/
section.projetos.windows{
  flex-direction: row-reverse;
}
section.projetos div.fabianico div.iconbar div.descicon{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
section.projetos div.fabianico div.iconbar.reverse{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.projetos div.fabianico div.iconbar div.iconp{
  width: 80px;
  height: 80px;
  margin: 10px 0px;
  border-radius: 50%;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  position:relative;
}
section.projetos div.fabianico div.iconbar div.iconp img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
section.projetos div.fabianico div.boxprojetoimg.reverse{
  display: flex;
  flex-direction:column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}
section.projetos div.fabianico div.boxprojetoimg.reverse{
  display: flex;
  flex-direction:column-reverse;
}
section.projetos div.fabianico div.boxprojetoimg.reverse div.projetoimg{
  width:420px;
  height: 250px;
}
section.projetos div.fabianico div.boxprojetoimg.reverse div.projetoimg#one{
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  transition: 1s;
}
section.projetos div.fabianico div.boxprojetoimg.reverse div.projetoimg#two{
  border-radius: 10px;
  border-top-left-radius: 0px;
  transition: 1s;
}
section.projetos div.fabianico div.boxprojetoimg.reverse div.projetoimg#one:hover{
  height: 400px;
}
section.projetos div.boxprojetoimg.reverse div.projetoimg#one:hover ~ div.boxprojetoimg.reverse div.projetoimg#two{
  height: 105px; 
  transition: 1s;
}
section.projetos div.boxprojetoimg.reverse div.projetoimg#two:hover{
  height: 400px;
}
section.projetos div.fabianico div.boxprojetoimg.reverse div.projetoimg img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}










/*???????????????????????????????????????????????????????????????????????

         EFEITOS-IMAGEMS-NÃO-REVERSAS     EFEITOS-IMAGEMS-NÃO-REVERSAS

?????????????????????????????????????????????????????????????????????????*/
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.nathan:before{content:'Nathan  ';font-family:"poppins";font-style:normal;font-weight:normal;width:100px;height:32px;position:absolute;right:0;display:flex;justify-content:center;align-items:center;border-top-left-radius:10px;border-bottom-left-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.nathan:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);left:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.nathan:hover:after{opacity:1;visibility:visible;left:-31px;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.nathan:hover:before{opacity:1;visibility:visible;right:100px;}

section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelli:before{content:'Rafael Li Wu  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:0;display:flex;justify-content:center;align-items:center;border-top-left-radius:10px;border-bottom-left-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelli:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);left:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelli:hover:after{opacity:1;visibility:visible;left:-31px;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelli:hover:before{opacity:1;visibility:visible;right:100px;}

section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelsoares:before{content:'Rafael Soares  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:0;display:flex;justify-content:center;align-items:center;border-top-left-radius:10px;border-bottom-left-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelsoares:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);left:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelsoares:hover:after{opacity:1;visibility:visible;left:-31px;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.rafaelsoares:hover:before{opacity:1;visibility:visible;right:100px;}

section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.ronald:before{content:'Ronald Oliveira  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:0;display:flex;justify-content:center;align-items:center;border-top-left-radius:10px;border-bottom-left-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.ronald:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);left:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.ronald:hover:after{opacity:1;visibility:visible;left:-31px;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.ronald:hover:before{opacity:1;visibility:visible;right:100px;}

section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlosdaniel:before{content:'Carlos Daniel  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:0;display:flex;justify-content:center;align-items:center;border-top-left-radius:10px;border-bottom-left-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlosdaniel:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);left:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlosdaniel:hover:after{opacity:1;visibility:visible;left:-31px;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlosdaniel:hover:before{opacity:1;visibility:visible;right:100px;}

section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlossergio:before{content:'Carlos Sergio  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:0;display:flex;justify-content:center;align-items:center;border-top-left-radius:10px;border-bottom-left-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlossergio:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);left:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlossergio:hover:after{opacity:1;visibility:visible;left:-31px;}
section.projetos div.fabianico div.iconbar.imgnoreverse div.iconp.carlossergio:hover:before{opacity:1;visibility:visible;right:100px;}









/*???????????????????????????????????????????????????????????????????????

         EFEITOS-IMAGEMS-PARA-REVERSAS     EFEITOS-IMAGEMS-PARA-REVERSAS

?????????????????????????????????????????????????????????????????????????*/
section.projetos div.fabianico div.iconbar.reverse div.iconp.carlossergioreverse:before{content:'Carlos Sergio  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:-40px;display:flex;justify-content:center;align-items:center;border-top-right-radius:10px;border-bottom-right-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.carlossergioreverse:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);right:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.carlossergioreverse:hover:after{opacity:1;visibility:visible;right:-31px;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.carlossergioreverse:hover:before{opacity:1;visibility:visible;right:-170px;}

section.projetos div.fabianico div.iconbar.reverse div.iconp.carlosdanielreverse:before{content:'Carlos Daniel  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:-40px;display:flex;justify-content:center;align-items:center;border-top-right-radius:10px;border-bottom-right-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.carlosdanielreverse:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);right:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.carlosdanielreverse:hover:after{opacity:1;visibility:visible;right:-31px;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.carlosdanielreverse:hover:before{opacity:1;visibility:visible;right:-170px;}

section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaellireverse:before{content:'Rafael Li Wu  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:-40px;display:flex;justify-content:center;align-items:center;border-top-right-radius:10px;border-bottom-right-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaellireverse:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);right:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaellireverse:hover:after{opacity:1;visibility:visible;right:-31px;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaellireverse:hover:before{opacity:1;visibility:visible;right:-170px;}

section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaelsoaresreverse:before{content:'Rafael Soares  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:-40px;display:flex;justify-content:center;align-items:center;border-top-right-radius:10px;border-bottom-right-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaelsoaresreverse:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);right:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaelsoaresreverse:hover:after{opacity:1;visibility:visible;right:-31px;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.rafaelsoaresreverse:hover:before{opacity:1;visibility:visible;right:-170px;}

section.projetos div.fabianico div.iconbar.reverse div.iconp.ronaldreverse:before{content:'Ronald  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:-40px;display:flex;justify-content:center;align-items:center;border-top-right-radius:10px;border-bottom-right-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.ronaldreverse:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);right:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.ronaldreverse:hover:after{opacity:1;visibility:visible;right:-31px;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.ronaldreverse:hover:before{opacity:1;visibility:visible;right:-170px;}

section.projetos div.fabianico div.iconbar.reverse div.iconp.nathanreverse:before{content:'Carlos Sergio  ';font-family:"poppins";font-style:normal;font-weight:normal;width:150px;height:32px;position:absolute;right:-40px;display:flex;justify-content:center;align-items:center;border-top-right-radius:10px;border-bottom-right-radius:10px;color:white;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.nathanreverse:after{content:"";width:22.5px;height:22.5px;background-color:red;position:absolute;transform:rotate(45deg);right:0;background-color:#343A40;opacity:0;visibility:hidden;transition:0.75s;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.nathanreverse:hover:after{opacity:1;visibility:visible;right:-31px;}
section.projetos div.fabianico div.iconbar.reverse div.iconp.nathanreverse:hover:before{opacity:1;visibility:visible;right:-170px;}






/*???????????????????????????????????????????????????????????????????????

         DeV     DeV    DeV    DeV    DeV    DeV  DeV   DeV   DeV

?????????????????????????????????????????????????????????????????????????*/

section.em-dev .dev-titulo{
  text-align: center;
  width: 100%;
  font-size: 50px;
  padding: 15px;
}
section.em-dev .dev-titulo p{
  font-size: 14px;
}
section.em-dev div.container-fluid{
  margin: auto;
  max-width: 1140px;
}
section.em-dev div.container-fluid div.card{
  min-height: 300px;
  margin: 30px;
}
section.em-dev div.container-fluid div.card ul li{
  margin: 0 5px;
  padding: 0;
  width: 100px;
  border: none;
  max-height:60px;
  display:flex;
  justify-content:center;
  align-items:center;
}
section.em-dev div.container-fluid div.card ul li.list-group-item img{
	max-height:60px;
}
section.em-dev div.container-fluid div.card div.card-body{
  padding: 20px 0;
}
section.em-dev div.container-fluid div.card div.card-body div.card-text{
  padding: 0 20px;
}
section.em-dev div.container-fluid div.card div.card-body div.card-text a{
  color:black;
  outline:none;
  text-decoration: none;
  border: none;
}
section.em-dev div.container-fluid div.card div.card-body div.card-text a:focus{
  color:black;
  outline:none;
  text-decoration: none;
  border: none;
}














/*???????????????????????????????????????????????????????????????????????

         FOOTER     FOOTER    FOOTER    FOOTER    FOOTER    FOOTER

?????????????????????????????????????????????????????????????????????????*/
footer{
  width: 100%;
  color: white;
  background-color:#222;
  position: relative;
}
footer form{
  padding: 40px;
}
footer div.footer-titulo{
  padding: 30px 0;
  font-size:42px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #3CA2E6;
}
footer .contato{
  max-width: 1140px;
  margin: auto;
}
input.form-control, select option, select#estado.form-control{
  background-color: #333;
  color: white;
}





/*???????????????????????????????????????????????????????????????????????

         Lá Embaixo     Lá Embaixo    Lá Embaixo    Lá Embaixo        

?????????????????????????????????????????????????????????????????????????*/

div.ofim{
  position:relative;
  bottom: 0;
  background-color: #323232;
  right: 0;
  left: 0;
}
div.ofim div.container-fluid{
  padding-top: 10px;
  padding-bottom: 10px;
}
div.ofim div.container-fluid div.row{
  flex-wrap: wrap;
}
div.ofim div.container-fluid div.row div{
margin: 5px 7.5px;
cursor: pointer;
}
.popover{
  background-color: #444 !important;
  border: none !important;
  border-radius: 10px;
}
.popover.bs-popover-top .arrow::after{
  border-top-color: #444 !important;
}
.popover-body{
  background-color: #444;
  color: white !important;
}





@media(max-width: 450px){.bolinha{right: 12px;}}