@keyframes rotacao{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes form{
  0%{width: 20%}

  100%{width: 100%}
}
@keyframes formbtn{
  0%{margin-bottom: -5px;font-size: 25px;}
  50%{margin-bottom:16px;font-size: 30px;}
  100%{margin-bottom: -5px;font-size: 25px;}
}
@keyframes fumacab{
  0%{transform: rotate(0) scale(2);}
  100%{transform: rotate(-180deg) scale(0.5);}
}
@keyframes gotinha{
  0%{top: -25px}
  100%{top:3000px;transform: scale(0);}
}